<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/static/style.css' />
</head>
    <body>

        <%- include('parts/nav'); %>
        <div>
            <h1><%= title %></h1>
            <form method="post" action="/kontakt">
                <label>Imię:
                    <input type="text" name="name">
                </label>
                <label>Nazwisko:
                    <input type="text" name="lname">
                </label>
                <label>Email:
                    <input type="email" name="email">
                </label>
                <label>Wiadomość:
                    <textarea name="message" rows="2"></textarea>
                </label>
                <input type="submit" name="btn" placeholder="Wyślij">
            </form>
        </div>
        <%- include('parts/footer'); %>
    </body>
</html>
