<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <title><%= title %></title>
</head>
<body>
<%- include('parts/nav');%>
    <h1 class="title">Categories</h1>
    <p id="message"><%= message%></p>
</body>
</html>