<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
  </head>
  <body>
  <%- include('parts/nav');%>
  <div>
    <h1 class="title"><%= title %></h1>
  </div>
  </body>
</html>
